body {
    background: rgb(197, 217, 221);
    background: linear-gradient(11deg, rgb(191, 215, 219) 0%, rgb(226, 230, 235) 100%);
    min-height: 100vh;
    overflow-x: hidden;
}

.listItem {
    opacity: 0;
    transform: translateX(-30px);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    margin: 0 5px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

#navbarDropdown {
    color: #333;
}

#navbarDropdown.dropdown-toggle::after {
    content: none;
}

.fa-angle-down {
    font-size: 20px;
    color: #bbb;
    margin: 0px 20px 0px 5px;
}

// qualification modal css
#qualificationModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.hideModal {
    visibility: hidden;
}

#innerModal {
    padding-top: 20px;
    background-color: #ddd;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    min-height: 600px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

#deleteModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#innerDeletemodal {
    padding-top: 20px;
    background-color: #ddd;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    min-height: 300px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}